@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$site-font: "Rubik", sans-serif;
$pr-color: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
$bg-color: #230e2b;
$header-bottom-bg: #2d1436;
$header-top-bg: #1b0522;
$title-color: #fff;
$text-color: #fff;
$btn-pink: #8b5d9a;
$hover-btn: linear-gradient(90deg, #ffc700 0%, #ff005c 100%);
$active-btn: #f43048;
$shadow-btn: 0px 20px 30px 0px #b3221f33;
